body, h1, h2, h3, p, span, div {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: small;
 }

body {
  background-color: #f0fff0;
  color: #00CC00;

 }

h3.nobottom {
    margin-top: 20px;
    margin-bottom: 0px;
}

div.logo {
  background-image: url(logo.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 25px;
}

div.lighttext {
  background-color: #f0fff0;
  color: #777777;
  font-style: italic;

 }

.domain {
  font-size: medium;
  font-weight: bold;
 }

.host {
  font-weight: bold;
 }

.center {
  text-align: center;
}

.small {
  font-size: smaller;
 }

.noborder {
  border-width: 0px;
  border-collapse: collapse;
 }

table.largeinvisiblebox {
        border-width: thin;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: #999;
        border-style: solid;
        padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
	max-width: 90%;
        width: 80%;
}

table.invisiblebox {
        border-width: thin;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: #999;
        border-style: solid;
        padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
	width: 1%;
}

td.graphbox {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 4px 4px 4px 4px;
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
	width: 100%;
}

.box {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 4px 4px 4px 4px;
        margin: 2px 2px 2px 2px;
        text-align: left;
        width: 80%;
        max-width: 90%
}

td.legendbox {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 8px 4px 2px 2px;
        margin: 2px 2px 2px 2px;
        text-align: left;
	width: 100%;
}

td.wrap {
	white-space: normal;
	max-width: 1%;
}

td.linkbox {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 4px 4px 4px 4px;
        margin: 2px 2px 2px 2px;
	width: 100%;
}

.warntext {
  font-weight: bold;
  background-color: #cccc00;
}

.crittext {
  font-weight: bold;
  background-color: #ff6f22;
}

.ruler {
  background-color: #999999;
  border: 0px;
  height: 1px;
}

.ruler2 {
  background-color: #999999;
  border: 0px;
  height: 2px;
}

a.meek:link {
  color: #486aaf;
  font-size: small;
 }

a.meek:visited {
  color: #af1a00;
  font-size: small;
 }

a.meek:active {
  color: #486aaf;
  font-size: small;
 }

a.meek:hover {
  color: #999999;
  font-size: small;
 }


a.warn:link    { color: #cc9900; }
a.warn:visited { color: #cc9900; }
a.warn:active  { color: #cc9900; }
a.warn:hover   { color: #cc9900; }

a.crit:link    { color: #cc0000; }
a.crit:visited { color: #cc0000; }
a.crit:active  { color: #cc0000; }
a.crit:hover   { color: #cc0000; }

a:link    { color: #486aaf; }
a:visited { color: #486aaf; }
a:active  { color: #486aaf; }
a:hover   { color: #486aaf; }
/* Custom style */
#cattoc {
        margin: 0;
        padding: 0;
        width: 100%;
        clear: both;
}
#cattoc li {
        margin: 1px -2px 1px 2px;
        float: left;
        padding: 2px 0 3px 0;
        background-color: #e0f0e0;
        color: #000;
        border: 1px solid #fff;
        border-right-color: #716f64;
        border-bottom: 0;
        position: relative;
        white-space: nowrap;
        list-style-type: none;
        list-style-image: none;
        z-index: 3;
}
#cattoc li.selected {
        font-weight: bold;
        background-color: #f0fff0;
        border: 1px solid #aaa;
        border-bottom: none;
        cursor: default;
        top: 1px;
        padding-top: 2px;
        margin-right: -3px;
}
#cattoc > li.selected {
        top: 2px;
}
#cattoc a,
#cattoc a:active {
        display: block;
        color: #000;
        padding: 0 .7em;
        position: relative;
        text-decoration: none;
}
#cattoc li.selected a {
        cursor: default;
        text-decoration: none;
}
#catcontrol {
        padding-top: 2em;
        clear: both;
}
#categories {
        margin: 0;
        border: 1px solid #aaa;
        clear: both;
        padding: 1.5em;
        background-color: #F0FFF0;
}
.catsection {
        border: none;
        padding: 0;
        margin: 0;
}
.catsection fieldset {
        border: 1px solid #aaa;
        float: left;
        margin-right: 2em;
}
.catsection legend {
        font-weight: bold;
}
.catsection table, .catsection legend {
        background-color: #F0FFF0;
}
.mainLegend {
        display: none;
}
div.catsectiontip {
        font-size: 95%;
        margin-top: 0;
        background-color: #FFC1C1;
        padding: .2em .7em;
        clear: both;
}

