*~
*#
.#*
\#*
\#*#
\.\#*
.*.sw[a-z]
*.sw[op]
*.un~
*.tmp
*.bk
*.bkup
*.tar*
*.gem
*.rbc
.bundle
.config
.rvmrc
.yardoc
.DS_Store
.kitchen.local.yml
vendor
Berksfile.lock
Gemfile.lock
tmp
.bundle/
.cache/
.rspec/
.kitchen/
.vagrant/
.vagrant.d/
.yardoc/
cookbooks/
pkg/
doc/
bin/
doc/
tmp/
vendor/
spec/knife.rb
spec/*.pem
spec/reports
